@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased min-h-screen bg-[#0c0d11] text-slate-100 selection:bg-indigo-600 selection:text-white;
  }
}

/* Custom Scrollbar for sleek dark feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0c0d11;
}

::-webkit-scrollbar-thumb {
  background: #232733;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #33384a;
}
